
<!DOCTYPE html>
<html>
<head>
   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Welcome </title>
   <link href="/stylesheets/frontend/bootstrap.css" rel="stylesheet">
   <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text'>
   <link href="/stylesheets/frontend/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="/stylesheets/frontend/flexslider.css" type="text" media="screen" />
   <link href="/stylesheets/frontend/sequence-looptheme.css" rel="stylesheet" media="all" />
   <link href="/stylesheets/frontend/style.css" rel="stylesheet">
   <!--[if lt IE 9]><script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script><script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script><![endif]-->
   <style>
      #comment {
        padding: 15px 0;
      }
    
      #comment h3 {
        font-size: 15px;
        font-weight: bold;
        color: #000;
        text-transform: capitalize;
        margin: 0 0 15px 0;
      }
    
      #comment input,
      #comment textarea {
        border-radius: 0;
      }
    
      #comment textarea {
        height: 250px;
      }
    
      #comments {
        padding: 15px 0;
      }
    
      #comments ul {
        border-bottom: 1px dotted #ccc;
      }
    
      #comments ul li {
        list-style: none;
      }
    
      #comments ul li.comm-name {
        font-weight: bold;
        color: #000;
      }
    
      #comments ul li.comm-details {
        line-height: 18px;
        padding: 10px 0;
      }
    </style>
</head>

<body id="home">
    <div class="wrapper">
       <div class="header">
          <div class="container">
             <div class="row">
                <div class="col-md-2 col-sm-2">
                   <div class="logo"><a href=""><img src="/images/frontend/40.png" alt="xgear" style="width: 124px;height: 63px;"></a></div>
                </div>
                <div class="col-md-10 col-sm-10">
                   <div class="header_top">
                      <div class="row">
                         <div class="col-md-3">
                            <ul class="option_nav">
                               <li class="dorpdown">
                                  <a href="#">Eng</a>
                                  <ul class="subnav">
                                     <li><a href="#">Eng</a></li>
                                     <li><a href="#">Vns</a></li>
                                     <li><a href="#">Fer</a></li>
                                     <li><a href="#">Gem</a></li>
                                  </ul>
                               </li>
                               <li class="dorpdown">
                                  <a href="#">USD</a>
                                  <ul class="subnav">
                                     <li><a href="#">USD</a></li>
                                     <li><a href="#">UKD</a></li>
                                     <li><a href="#">FER</a></li>
                                  </ul>
                               </li>
                            </ul>
                         </div>
                         <div class="col-md-6">
                            <ul class="topmenu">
                               <li><a href="#">About Us</a></li>
                               <li><a href="#">News</a></li>
                               <li><a href="#">Service</a></li>
                               <li><a href="#">Recruiment</a></li>
                               <li><a href="#">Media</a></li>
                               <li><a href="#">Support</a></li>
                            </ul>
                         </div>
                        
                         <% if(success_msg != ''){ %> 
                           <div class="col-md-3">
                              <ul class="usermenu">
                                 <li><a href="#" class="log">Xin chào</a></li>
                                 <li><a href="/getlogin" >Log out</a></li>
                              </ul>
                           </div>
                      <% }else{ %>
                         <div class="col-md-3">
                            <ul class="usermenu">
                               <li><a href="/getlogin" class="log">Login</a></li>
                               <li><a href="/getregister" class="reg">Register</a></li>
                            </ul>
                         </div>
                        <%}%>
                            <div class="col-md-3">
                        
                         </div>
                       
                      
                      </div>
                   </div>
                   <div class="clearfix"></div>
                   <div class="header_bottom">
                      <ul class="option">
                         <li id="search" class="search">
                            <form method="post" action="/sanpham/search"><input class="search-submit" type="submit" value=""><input class="search-input" placeholder="Enter your search term..." type="text" value="" name="search"></form>
                         </li>
                         <li class="option-cart">
                           <a href="/giohang" class="cart-icon">cart <span class="cart_no"></span></a>
                           
                       </li>
                     
                      </ul>
                      <div class="navbar-header"><button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div>
                      <div class="navbar-collapse collapse">
                         <ul class="nav navbar-nav">
                            <li>
                               <a href="/">Trang chủ</a>
 
                            </li>
                            <li><a href="/sanpham">Sản phẩm</a></li>
                            <li><a href="#">Tin tức </a></li>
                            <li><a href="#">Liên hệ</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>